
	
body {
	font-family: helvetica;
}

body{
	background-color: whitesmokew;
}

.card-red {
	background-color: lightgrey;
	width: 800px;
	padding: 90px;
	margin: 0px O;
	border-radius: 100px;
	box-shadow: 10px 35px 20px rgba(0, 0, 0, 1.0);
}

.card-white {
	background-color: skyblue;
	padding: 30px;
	margin: 20px 0;
	border border-radius: 4px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}


div{
     
    margin: 0px auto
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 24px;
}

ul {font-size: 20px;}


.img-circle {
	border-radius: 50%;
}

.shadowed {
	box-shadow: 5px 5px 3px black;
}

a {
	text-decoration: none;
	color:  black;
}

a:hover{
	color: white;
}

P {
	font-size: 20px;
}


.list-inline {
	list-style: none;
}


